{% extends 'adminBase.html' %}

{% block title %}  <title>Hubiye | add product</title> {% endblock %}


{% block body %}
<div class="card">
    <div class="card-body border-top">
        <!-- .form -->
        <form method="POST" action='{{ url_for("product") }}'>
          <!-- .fieldset -->
          <fieldset>
            <legend>Add new product</legend> <!-- .form-group -->
            <div class="row">
                
                  {% with msg = get_flashed_messages() %}
                  {% if msg %}
                  {% for  msgs in msg %}
                      <div class='alert alert-success col-md-12' id="msg">
                          <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                          <span aria-hidden='true'>&times;</span>
                          </button> {{ msg }} 
                      </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
               
              

                <div class="form-group col-md-12">
                    <div class="form-label-group">
                      <input type="text" class="form-control" name='pname' placeholder="Company ID" required autocomplete="off" > <label for="fl3">Product name</label>
                    </div>
                </div><!-- /.form-group -->

                <div class="form-group col-md-12">
                    <label for="">Product description</label>
                    <div class="card card-fluid">
                        <!-- #summernote-basic -->
                        <textarea name="pdesc" required data-toggle="summernote" data-placeholder="Write here..." data-height="70">

                        </textarea>
                    </div><!-- /.card -->

                </div>
                
                <div class="form-group col-md-6">
                  <label for="">Manufactured date</label>
                  <input type="date" name="mandate" id="" class="form-control" required>
                </div><!-- /.form-group -->

                <div class="form-group col-md-6">
                  <label for="">Expire date</label>
                  <input type="date" name="expdate" class="form-control" required>
                </div><!-- /.form-group -->

            </div>
            <div class="form-group">
                <input type="submit" value="Add product" class="btn btn-primary">
            </div><!-- /.form-group -->
          </fieldset><!-- /.fieldset -->
        </form><!-- /.form -->
    
        <hr>
    
        <div class="table-responsive">
    
            
    
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Company name </th>
                        <th>Product name </th>
                        <th>Manufactured date</th>
                        <th>Expire date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                      {% for p in products %}
                        <tr>
                          <td>{{ p.comp_id }}</td>
                          <td>{{ p.product_name }}</td>
                          <td>{{ p.comp_name }}</td>
                          <td>{{ p.man_date }}</td>
                          <td>{{ p.exp_date  }}</td>
                          <td>{{ p.status }}</td>
                          <td>
                            <a href="{{ url_for('product_barcode', id=p.product_id) }}" class='btn btn-success'>Get barcode</a>
                          </td>
                        </tr>
                      {% endfor %}

                </tbody>
            </table>
        </div>
      
    
      </div><!-- /.card-body -->
    </div><!-- /.card -->


    

{% endblock %}



