{% extends 'adminBase.html' %}

{% block title %}  <title>Hubiye | Add Company</title> {% endblock %}


{% block body %}
{%  if session['user_type'] != 'admin' %}
    <script> window.location = '/' </script>
{% endif %}

<div class="section-block">
  <!-- Default Steps -->
  <!-- .bs-stepper -->
  <div id="stepper" class="bs-stepper">
    <!-- .card -->
    <div class="card">
      <!-- .card-header -->
      <div class="card-header bg-info text-light">Company registration</div>
      <div class="card-body">
        
        <form id="stepper-form" method="POST" action="{{ url_for('add_new_comp') }}" name="stepperForm" class="p-lg-4 p-sm-3 p-0">

        {% with msg = get_flashed_messages() %}
        {% if msg %}
        {% for  msgs in msg %}
            <div class='alert alert-success col-md-12' id="msg">
                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                <span aria-hidden='true'>&times;</span>
                </button> {{ msg }} 
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- .steps -->
            <h3>Company details</h3>
        <div class="row">
          <div class="form-group mb-4 col-md-4">
            <div class="form-label-group">
              <input type="text" id="com_name" name="com_name" class="form-control" value="{{ request.form.com_name }}" autocomplete="off" data-parsley-group="fieldset01" required="" > <label for="com_name">Company name</label>
          </div>
          </div><!-- /.form-group -->


          <div class="form-group col-md-4">
            <div class="form-group">
                <div class="form-label-group">
                  <select class="custom-select" id=""  name='com_type_id' data-parsley-group="fieldset01" required="">
                    
                    {% for ctype in ctypes %}
                      <option value="{{ ctype.com_type_id }}">{{  ctype.name }} </option>
                    {% endfor %}
                  </select> <label for="">Company Type </label>
                </div>
              </div><!-- /.form-group -->
          </div><!-- /.form-group -->
          
          

          <div class="form-group col-md-4">
            <div class="form-group">
                <div class="form-label-group">
                  <select class="custom-select" id="" name='city_id' data-parsley-group="fieldset01" required="" >
                    {% for c in city %}
                      <option value="{{ c.city_id }}">{{ c.city_name }}</option>
                    {% endfor %}
                  </select> <label for="">City </label>
                </div>
              </div><!-- /.form-group -->
          </div><!-- /.form-group -->
      

        <div class="form-group col-md-12">
          <label for="">Company description</label>
          <div class="card card-fluid">
              <!-- #summernote-basic -->
              <textarea name="com_desc" id="desc"  data-toggle="summernote" data-placeholder="Write here..." data-height="70" minlength='30' maxlength='200'> {{ request.form.com_desc }} </textarea>
            </div><!-- /.card -->
        </div>
      
        <div class="form-group mb-4 col-md-4">
          <div class="form-label-group">
            <input type="text" id="com_addr" name="com_addr" class="form-control" value="{{ request.form.com_addr }}" autocomplete="off" data-parsley-group="fieldset01" required="" minlength='5' maxlength='50'> <label for="userid">Company address</label>
          </div>
        </div><!-- /.form-group -->

        <div class="form-group mb-4 col-md-8">
          <div class="form-label-group">
            <input type="number" id="com_phone" name="com_phone" class="form-control" value="{{ request.form.com_phone }}" autocomplete="off" data-parsley-group="fieldset01" required="" minlength='9' maxlength='12'> <label for="userid">Company phone </label>
          </div>
        </div><!-- /.form-group -->
       
        <div class="col-md-12">
          <h3>Representative details</h3>
          <hr>
        </div>

        <div class="col-md-4 mb-4">
          <div class="form-label-group">
            <input type="text" id="rfname" class="form-control" name="rfname" value="{{ request.form.rfname }}" data-parsley-group="fieldset02" required="" minlength='5' maxlength='40'> <label for="firstName">Full name</label>
          </div>
      
        </div><!-- /grid column -->
        <!-- grid column -->
        <div class="col-md-4 mb-4">
          <div class="form-label-group">
            <input type="email" id="email" class="form-control" name="email" value="{{ request.form.email }}" data-parsley-group="fieldset02" required="" minlength='5' maxlength='40'> <label for="lastName">Email Address</label>
          </div>
        </div><!-- /grid column -->



        <div class="col-md-4 mb-4">
          <div class="form-label-group">
            <input type="text" id="rphone" class="form-control" name="rphone" value="{{ request.form.rphone }}" data-parsley-group="fieldset02" required="" minlength='5' maxlength='40'> <label for="rusername">Phone number</label>
          </div>
        </div><!-- /grid column -->

        <div class="form-group col-md-4">
          <input type="submit" value="Submit" class="btn btn-success ">
        </div>
      </div>
    </form><!-- /form -->
     
      </div><!-- /.card-body -->

    </div><!-- /.card -->
  </div><!-- /.bs-stepper -->

</div><!-- /.section-block -->
    

{% endblock %}


<script>

  

</script>


