{% include('includes/_adminHeader.html') %}

{% block title %}  <title>Authentication  | Hubiye</title> {% endblock %}


<main class="auth" >
    <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
      <h1>
       <img src="{{ url_for('static', filename='admin/images/white-logo.png') }}" height="100" alt="Hubiye Logo"> <span class="sr-only">Sign In</span>
      </h1>
      </p>
    </header><!-- form -->
    <form class="auth-form" method='POST' action="{{ url_for('auth_user', user_id=authuser.user_id) }}" >
      {% with msg = get_flashed_messages() %}
      {% if msg %}
      {% for  msgs in msg %}
          <div class='alert alert-danger col-md-12' id="msg">
              <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button> {{ msg }} 
          </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- .form-group -->
      <div class="form-group">
        <label for="">Enter the code that we sent you to your email</label>
        <div class="form-label-group">
          <input type="number" id="inputUser" class="form-control"  name="code" value="{{request.form.code }}" placeholder="" autofocus="Code" autocomplete="off" required> <label for="inputUser">Code</label>
        </div>
      </div><!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </div><!-- /.form-group -->
      <!-- .form-group -->

    </form><!-- /.auth-form -->
    <!-- copyright -->
    <footer class="auth-footer"> 
     Developed by Abdi & Yk

    </footer>
  </main><!-- /.auth -->
