{% include('includes/_adminHeader.html') %}

{% block title %}  <title>Login | Hubiye</title> {% endblock %}


<main class="auth" >
    <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
      <h1>
       <img src="{{ url_for('static', filename='admin/images/white-logo.png') }}" height="100" alt="Hubiye Logo"> <span class="sr-only">Sign In</span>
      </h1>
      </p>
    </header><!-- form -->
    <form class="auth-form" method='POST' action="{{ url_for('forgot_password') }}" >
      {% with msg = get_flashed_messages() %}
      {% if msg %}
      {% for  msgs in msg %}
          <div class='alert alert-danger col-md-12' id="msg">
              <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
              <span aria-hidden='true'>&times;</span>
              </button> {{ msg }} 
          </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- .form-group -->
      <div class="form-group">
        <div class="form-label-group">
          <input type="email" id="inputUser" class="form-control" name="email" value="{{ request.form.email }}" placeholder="Email Address" autofocus="" autocomplete="off" required> <label for="inputUser">Email Address</label>
        </div>
      </div><!-- /.form-group -->

      <!-- .form-group -->
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
      </div><!-- /.form-group -->
      <!-- .form-group -->

      <!-- recovery links -->
      <div class="text-center pt-3">
        <span>I rememebr my username </span><a href="{{ url_for('login') }}" class="link">Login</a> 
      </div><!-- /recovery links -->
    </form><!-- /.auth-form -->
    <!-- copyright -->
    <footer class="auth-footer"> 
     

    </footer>
  </main><!-- /.auth -->
