{% include('includes/_adminHeader.html') %}

{% block title %}  <title>New user | Hubiye</title> {% endblock %}



  <div class="container">
    <div class="row">
      <div class="col-md-12" >
        <div class="card my-4" style='width:70%; margin: 4% auto; min-width:450px;'>
          <div class="card-header bg-success text-light">User registration</div>
          <div class="card-body">
            <form action="{{ url_for('new_user', key=code) }}" method="post" enctype="multipart/form-data">
              {% with msg = get_flashed_messages() %}
              {% if msg %}
              {% for  msgs in msg %}
                  <div class='alert alert-success col-md-12' id="msg">
                      <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                      <span aria-hidden='true'>&times;</span>
                      </button> {{ msg }} 
                  </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
            <div class="row">
              <!-- .form-group -->
              <div class="form-group col-md-6">
                <div class="form-label-group">
                  <input type="text" id="username" class="form-control" name='Username' placeholder="Username" autocomplete="Off" value='{{ request.form.Username }}' required> <label for="inputPassword" required>Username</label>
                </div>
              </div><!-- /.form-group -->
              <div class="form-group col-md-6">
                <div class="form-label-group">
                  <input type="password" id="" class="form-control" name='Password' placeholder="Password" required> <label for="inputPassword" >Password</label>
                </div>
              </div><!-- /.form-group -->

              <div class="form-group col-md-12">
                <div class="form-label-group">
                  <input type="password" id="" class="form-control" name='cpassword' placeholder="Confirm password" required> <label for="inputPassword" >Confirm password</label>
                </div>
              </div><!-- /.form-group -->

              <div class="form-group col-md-6">
                <img src="../static/images/placeholder-image.png" alt="" id='dis_img' style='width:250px; height: 250px; border:2px solid skyblue;'> <br>
                <input type="file" name="uimage" id="imgfile" class="my-2" required>
              </div>

              <div class="form-group col-md-12">
                <input type="submit" value="Submit" class="btn btn-info">
              </div>

              
     

            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  
      
  </div>


  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function(e) {
          $('#dis_img').attr('src', e.target.result);
          }
          
          reader.readAsDataURL(input.files[0]); // convert to base64 string
      }
  }

  $("#imgfile").change(function() {
    readURL(this);
  });
</script>





  
