{% extends 'adminBase.html' %}

{% block title %}  <title>Hubiye | User Setting</title> {% endblock %}


{% block body %}
<div class="card">
   <div class="card-header bg-primary text-light ">Security setting</div>

   <div class="card-body">
    {% with msg = get_flashed_messages() %}
   {% if msg %}
   {% for  msgs in msg %}
       <div class='alert alert-success col-md-12' id="msg">
           <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
           <span aria-hidden='true'>&times;</span>
           </button> {{ msg }} 
       </div>
   {% endfor %}
   {% endif %}
   {% endwith %}
    <div class="card">
        <div class="card-header bg-success text-light">
            Password <small>setting</small>
        </div>
        <div class="card-body">
            <form action="{{ url_for('update_pwd') }}" method="POST">

                <div class="row">
                    <div class="form-group col-md-12">
                        <div class="form-label-group">
                            <input type="password" class="form-control" name='currpwd'  placeholder="Current password" required> <label for="fl3">Current password</label>
                        </div>
                    </div>
          
                    <div class="form-group col-md-4">
                        <div class="form-label-group">
                            <input type="password" class="form-control" name='newpwd' placeholder="New password" required > <label for="fl3">New password</label>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <div class="form-label-group">
                            <input type="password" class="form-control" name='cnewpwd' placeholder="Confirm Password"  required> <label for="fl3">Confirm Password</label>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <input type="submit" value="Change password" class="btn btn-lg btn-block btn-success" >
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="card">
        <div class="card-header bg-secondary">
            Two-step Authentication
        </div>
        <div class="card-body">
            <form action=" {{ url_for('security') }} " method="post">

                    <h5>Enable two step Authentication</h5>
               
                
                <select name="enabled" id="" class="form-control col-md-4" required>
                    <option value="">Select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <br>
                 <input type="submit" value="Submit" class="btn btn-outline-info">
                
            </form>

        </div>
    </div>

   </div>
   
</div><!-- /.card -->



    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                
                reader.onload = function(e) {
                $('#dis_img').attr('src', e.target.result);
                }
                
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        
        $("#imgfile").change(function() {
          readURL(this);
        });
    </script>
        

{% endblock %}




